<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Review Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
    <!--Jquery CDN google-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="login-root">
        <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
            <div class="loginbackground box-background--white padding-top--24">

                <div class="box-root  flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
                    <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
                        <h1><a rel="dofollow">Product review</a></h1>
                    </div>
                    <div class="formbg-outer">
                        <div class="formbg">
                            <div class="formbg-inner padding-horizontal--48">
                                <!--<span class="padding-bottom--15">Enter any text to check</span>-->

                                <div class="field padding-bottom--24">
                                    <label style="text-transform: uppercase; font-family: monospace;">Enter your review
                                        </label>
                                    <input id="text" name="text_input" rows="4" maxlength="200"
                                        placeholder="The phone was good...">
                                </div>
                                <div class="field padding-bottom--24">
                                    <div class="grid--50-50">
                                        <label style="text-transform: uppercase; font-family: monospace;">Review
                                            type:</label>
                                    </div>
                                    <p id="sentiment" style="display: none;"></p>
                                    <img id="emoji" src="" width="55" min-height="50" alt="" style="display: none">
                                </div>
                                <div class="field field-checkbox padding-bottom--24 flex-flex align-center">

                                </div>
                                <div class="field">
                                    <button id="button" type="submit">Predict Review</button><br><br>
                                    
                                </div>


                                <div>

                                    
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    <!--JS file-->
    <script src="static\script.js"></script>
</body>
</html>