<!DOCTYPE html>
<html>

<head>
    <title>Emotion Predictor</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="../static/index.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
</head>

<body>

    <body>
        <div class="login-root">
            <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
                <div class="loginbackground box-background--white padding-top--24">

                    <div class="box-root  flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
                        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
                            <h1><a rel="dofollow">Predict the emotion</a></h1>
                        </div>
                        <div class="formbg-outer">
                            <div class="formbg">
                                <div class="formbg-inner padding-horizontal--48">
                                    <!--<span class="padding-bottom--15">Enter any text to check</span>-->

                                    <div class="field padding-bottom--24">
                                        <label style="text-transform: uppercase; font-family: monospace;">Enter the text
                                            to check</label>
                                        <input id="text" name="text_input" rows="4" maxlength="200"
                                            placeholder="I am not good...">
                                    </div>
                                    <div class="field padding-bottom--24">
                                        <div class="grid--50-50">
                                            <label style="text-transform: uppercase; font-family: monospace;">Predicted
                                                emotion</label>
                                        </div>
                                        <!--<p id="prediction" style="display:block"></p>-->
                                        <img id="emo_img_url" src="" width="55" min-height="50" alt="" style="display: none">
                                    </div>
                                    <div class="field field-checkbox padding-bottom--24 flex-flex align-center">

                                    </div>
                                    <div class="field">
                                        <button id="predict_button" type="submit">Predict Emotion</button><br><br>
                                        
                                    </div>


                                    <div>

                                        
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </body>

</html>